<div class="dashboard-container">
    <h2>Dashboard - Admin</h2>
    <button (click)="openModal()">Add New Record</button>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Last Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @for (record of records; track record._id) {
            <tr>
                <td>{{ record._id }}</td>
                <td>{{ record.name }}</td>
                <td>{{ record.lastname }}</td>
                <td>
                    <button (click)="deleteRecord(record._id)">Delete</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <div class="pagination">
        <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
        <span>Page {{ currentPage }} of {{ totalPages }}</span>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
    </div>
</div>

<!-- Modal -->
@if (showModal) {
<div class="modal-overlay">
    <div class="modal">
        <h3>Add New Record</h3>
        <form (ngSubmit)="addRecord()">
            <div>
                <label for="name">Name:</label>
                <input id="name" [(ngModel)]="newRecord.name" name="name" required />
            </div>
            <div>
                <label for="lastName">Last Name:</label>
                <input id="lastName" [(ngModel)]="newRecord.lastname" name="lastName" required />
            </div>
            <div>
                <label for="email">Email:</label>
                <input id="email" [(ngModel)]="newRecord.email" name="email" type="email" required />
            </div>
            <div>
                <label for="email">Paasword:</label>
                <input id="email" [(ngModel)]="newRecord.password" name="password" type="password" required />
            </div>
            <div class="modal-actions">
                <button type="button" (click)="closeModal()">Cancel</button>
                <button type="submit">Save</button>
            </div>
        </form>
    </div>
</div>
}